/* header Bottom */

.header-top-area {
    padding: 25px 0 75px;
    background: $bg--white;
    @include responsive(allPhone) {
        display: none;
    }
    .header-details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .single-header {
            .header-logo {
                img {}
            }
            .header-address {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                gap: 15px;
                .header-icon {
                    @include box50;
                    @include center;
                    color: $text--base;
                    font-size: 30px;
                    background: none;
                    border: 1px solid rgba($text--body, .2);
                    border-radius: 5px;
                    i {}
                }
                .header-address-content {
                    .address-title {}
                    .address-para {
                        margin-top: 12px;
                        display: block;
                    }
                }
            }
            .header-button {
                a {
                    background: none;
                    border: 2px solid $bg--base;
                    color: $text--base;
                    font-size: 20px;
                    font-weight: 700;
                    padding: 20px 35px;
                    -webkit-transition: all .3s;
                    -o-transition: all .3s;
                    transition: all .3s;
                    &:hover {
                        color: $text--white;
                        background: $bg--base;
                    }
                }
            }
        }
    }
}

.header-bottom {
    margin-top: -50px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    .menu-area {
        background: $bg--base;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 22px 35px;
        .search-open {
            i {
                background: $bg--white;
                color: $text--base;
                font-size: 20px;
                @include center;
                @include box50;
                border: 1px solid $bg--white;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                &:hover {
                    color: $text--white;
                    background: $bg--base;
                }
            }
        }
        ul.menu-list {
            li {
                display: inline-block;
                margin: 15px 35px 15px 0;
                position: relative;
                z-index: 2;
                @include responsive(lg) {
                    margin: 20px 10px;
                }
                &:hover>a.has-child {
                    &::after {
                        content: "\f068";
                    }
                }
                &:hover>a {
                    color: rgba($bg--white, .6);
                    background: none;
                }
                &:hover {
                    >.submenu {
                        visibility: visible;
                        opacity: 1;
                        top: 100%;
                    }
                }
                a.has-child {
                    &::after {
                        content: "\f067";
                        @include line-font;
                        margin-right: 0;
                        margin-left: 5px;
                    }
                }
                a {
                    color: $text--white;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 3px 0px;
                    -webkit-transition: all .3s;
                    -o-transition: all .3s;
                    transition: all .3s;
                    @include heading-font;
                    @include responsive(lg) {
                        font-size: 15px;
                    }
                    &.active {
                        color: $text--base;
                        &::before {
                            visibility: visible;
                            opacity: 1;
                            width: 100%;
                        }
                    }
                    &:hover {
                        &::before {
                            visibility: visible;
                            opacity: 1;
                            width: 100%;
                        }
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        z-index: -1;
                        background: rgba($bg--white, .6);
                        height: 2px;
                        width: 0;
                        top: 100%;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
                        visibility: hidden;
                        opacity: 0;
                        -webkit-transition: all .2s;
                        -o-transition: all .2s;
                        transition: all .2s;
                    }
                }
                .submenu {
                    position: absolute;
                    width: 200px;
                    top: 120%;
                    left: 0;
                    background: $bg--black;
                    z-index: 2;
                    visibility: hidden;
                    opacity: 0;
                    padding: 10px 0;
                    border-bottom: 2px solid $bg--base;
                    @include base-shadow;
                    -webkit-transition: all .3s;
                    -o-transition: all .3s;
                    transition: all .3s;
                    li {
                        margin: 0;
                        display: block;
                        &:hover>a {
                            padding-left: 25px;
                            background: none;
                            color: $text--base;
                            &::before {
                                display: none;
                            }
                        }
                        a {
                            display: block;
                            padding: 10px 20px;
                            border-bottom: 1px dashed rgba($bg--base, .4);
                        }
                        &:last-child {
                            a {
                                border-bottom: 0 !important;
                            }
                        }
                        .submenu {
                            top: 0%;
                            left: 100%;
                        }
                    }
                }
            }
        }
    }
}


/* Main Menu */

.navigation-area {
    background: none;
    z-index: 555;
    position: absolute;
    top: -200%;
    left: 0;
    width: 100%;
    padding: 20px 0px 0px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    visibility: hidden;
    opacity: 0;
    @include responsive(allPhone) {
        visibility: visible;
        opacity: 1;
        top: 0;
        padding: 0px 10px 0px;
        background: $bg--white;
        overflow: hidden;
    }
    &.shrinkheader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 998;
        background: $bg--white;
        padding: 10px 0px;
        @include bottom-black-shadow;
        visibility: visible;
        opacity: 1;
        top: 0;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        @include responsive(allPhone) {
            padding: 10px 10px 0 !important;
        }
    }
}

.logo {
    img {
        max-height: 80px;
        max-width: 120px;
        @include responsive(allPhone) {
            max-height: 60px;
            max-width: 130px;
        }
    }
}

.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    ul {
        li {
            display: inline-block;
            margin: 25px 16px;
            position: relative;
            @include responsive(lg) {
                margin: 20px 10px;
            }
            &:hover>a.has-child {
                &::after {
                    content: "\f068";
                }
            }
            &:hover>a {
                color: $text--base;
                background: none;
            }
            &:hover {
                >.submenu {
                    visibility: visible;
                    opacity: 1;
                    top: 100%;
                }
            }
            a.has-child {
                &::after {
                    content: "\f067";
                    @include line-font;
                    margin-right: 0;
                    margin-left: 5px;
                }
            }
            a {
                color: $text--heading;
                display: inline-block;
                font-size: 16px;
                font-weight: 600;
                padding: 5px 0px;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                @include heading-font;
                @include responsive(xl) {
                    font-size: 16px;
                }
                @include responsive(lg) {
                    font-size: 14px;
                }
                &.active {
                    color: $text--base;
                    &::before {
                        visibility: visible;
                        opacity: 1;
                        width: 100%;
                    }
                }
                &:hover {
                    &::before {
                        visibility: visible;
                        opacity: 1;
                        width: 100%;
                    }
                }
                &::before {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    background: $bg--base;
                    height: 2px;
                    width: 0;
                    top: 100%;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    visibility: hidden;
                    opacity: 0;
                    -webkit-transition: all .2s;
                    -o-transition: all .2s;
                    transition: all .2s;
                }
            }
            .submenu {
                position: absolute;
                width: 200px;
                top: 120%;
                left: 0;
                background: $bg--white;
                z-index: 2;
                visibility: hidden;
                opacity: 0;
                padding: 10px 0;
                border-bottom: 2px solid $bg--base;
                @include base-shadow;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                li {
                    margin: 0;
                    display: block;
                    &:hover>a {
                        padding-left: 25px;
                        background: none;
                        color: $text--base;
                        &::before {
                            display: none;
                        }
                    }
                    a {
                        display: block;
                        padding: 10px 20px;
                        border-bottom: 1px dashed rgba($bg--base, .3);
                    }
                    &:last-child {
                        a {
                            border-bottom: 0 !important;
                        }
                    }
                    .submenu {
                        top: 0%;
                        left: 100%;
                    }
                }
            }
        }
    }
}


/* Searchbar */

.navigation-area {
    &.shrinkheader {
        .search-open {
            @include responsive(allPhone) {
                top: 25px;
            }
        }
    }
}

.search-open {
    font-size: 20px;
    cursor: pointer;
    color: $text--heading;
    margin-left: 40px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    @include responsive(lg) {
        margin-left: 25px;
    }
    &:hover {
        color: $text--base;
    }
    @include responsive(allPhone) {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 20px;
        z-index: 9999999;
    }
}

.search-bar {
    position: fixed;
    top: -100%;
    left: 0;
    height: 100vh;
    z-index: 999;
    width: 100%;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @include bottom-white-shadow;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    &.active {
        visibility: visible;
        opacity: 1;
        top: 0;
    }
    .menu-search-form {
        position: relative;
        z-index: 999;
        width: 60%;
        margin: 0 auto;
        border-radius: 5px;
        @include responsive(xs) {
            width: 100%;
            margin: 0 20px;
        }
        .search-close {
            position: absolute;
            right: 30px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            color: $text--white;
            font-size: 30px;
            cursor: pointer;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            @include responsive(xs) {
                right: 15px;
            }
            &:hover {
                color: $text--base;
            }
        }
        .item-search {
            width: 100%;
            height: 70px;
            background: $bg--black;
            border: 2px solid rgba($bg--white, .2);
            outline: none;
            color: $text--white;
            padding: 10px 30px;
            padding-right: 70px;
            font-size: 14px;
            border-radius: 7px;
            @include white-shadow;
            -webkit-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;
            @include responsive(xs) {
                padding: 10px 15px;
                padding-right: 50px;
            }
            &:focus {
                border-color: rgba($bg--base, .4);
                @include base-shadow;
            }
            &::-webkit-input-placeholder {
                color: $text--white;
                font-size: 14px;
            }
            &::-moz-placeholder {
                color: $text--white;
                font-size: 14px;
            }
            &:-ms-input-placeholder {
                color: $text--white;
                font-size: 14px;
            }
            &::-ms-input-placeholder {
                color: $text--white;
                font-size: 14px;
            }
            &::placeholder {
                color: $text--white;
                font-size: 14px;
            }
        }
    }
}

.close-toggle-body {
    background: rgba($bg--black, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 555;
    height: 100vh;
    width: 100%;
}